<!DOCTYPE html>
{% load static %}
<html>
<!-- Título de la pestaña -->

<head>
    <meta charset="UTF-8">
    <title>FERREMAS | Tu Ferretería</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if (name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }
        var carrito = JSON.parse(getCookie('carrito'))

        if (carrito == undefined) {
            carrito = {}
            console.log('carrito Created!', carrito)
            document.cookie = 'carrito=' + JSON.stringify(carrito) + ";domain=;path=/"
        }
        console.log('carrito:', carrito)
    </script>
</head>

<body>

    <!-- Código NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark custom-bg-dark espacio">
        <a class="navbar-brand" id="logo" href="#">FERRE<span>MAS</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'tienda' %}">Tienda <span class="sr-only">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                {% if request.user.usuariosistema.rol.nombre_rol == 'Administrador' or request.user.usuariosistema.rol.nombre_rol == 'Bodeguero' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'producto' %}">Productos <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% endif %}
                {% if request.user.is_authenticated and request.user.usuariosistema.rol.nombre_rol == 'Administrador' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'usuario' %}">Usuarios <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                {% if request.user.usuariosistema.rol.nombre_rol == 'Administrador' or request.user.usuariosistema.rol.nombre_rol == 'Vendedor' or request.user.usuariosistema.rol.nombre_rol == 'Contador' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'reporte' %}">Reportes <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-auto ml-3" method="GET" action="{% url 'catalogo' %}">
                <input class="form-control mr-sm-2" type="search" name="buscar" placeholder="Buscar productos..."
                    aria-label="Search" value="{{ request.GET.buscar }}">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <!-- <form class="d-flex" style="margin-right: 3.5rem;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
            <div class="form-inline my-2 my-lg-0">
                {% if request.user.is_authenticated %}
                <span class="text-white mr-3">hola, {{ request.user.username }}</span>
                <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Cerrar sesión</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
                {% endif %}
                <a href="{% url 'carrito' %}">
                    <img id="carrito-icon" src="{% static 'images/carrito.png' %}">
                </a>
                <p id="carrito-total">{{carritoItems}}</p>
            </div>
        </div>
    </nav>
    <!-- Código contenedor base -->
    <br>
    <div class="containerBanner">
        {% block content %}{% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/carrito.js'%}"></script>
</body>

<footer>
    <p id="pie-De-Pag">2026 FERREMAS - CHILE</p>
</footer>

</html>